/*General */
:root {
--very-light-pink: #C7C7C7;
--text-input-field: #F7F7F7;
--hospital-green: #ACD9B2;
--white:#FFFFFF;
--black: #000000;
--sm:1.4rem; 
--md:1.6rem;
--lg:1.8rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
}
/*Desktop-Menu*/
.inactive{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu{
    display: block;
}
.logo{
    width: 100px;
}
.navbar-left ul, .navbar-right ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: var(--md);
    height: 60px;
}
.navbar-left{
    display: flex;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-email{
    margin-right: 12px;
    font-size: var(--sm);
    color: var(--very-light-pink);
    cursor: pointer;
}
.navbar-shopping-cart{
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div {
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
}
.desktop-menu{
    position: absolute;
    top: 60px;
    right: 60px;
    /*width: 100px;*/
    height: auto;
    padding: 20px 20px 0 20px;
    font-size: var(--md);
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    background-color: var(--white);
}
.desktop-menu ul{
    list-style: none;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:nth-child(1),.desktop-menu ul li:nth-child(2){
    font-weight: bold;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}
/*Mobile-Menu*/
.mobile-menu{
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    padding: 0 30px 20px 30px;
    background-color: var(--white);
}
.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 24px;
}
.mobile-menu ul{
    list-style: none;
    margin-top: 24px;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul:last-child{
    position: absolute;
     bottom: 5px;
}
.mobile-menu ul li{
    margin-bottom: 14px;
}
.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu .sign-out{
    padding: 14px;
    color: var(--hospital-green);
    font-size: var(--sm);
}
/*Aside (product-detail)*/

.product-detail{
    position: absolute;
    width: 360px;
    padding: 24px;
    right: 0;
    background-color: var(--white);
}
.title-container{
    display: flex;
}
.title-container img{
    transform: rotate(180deg);
}
.title{
    font-size: var(--lg);
    font-weight: bold;
    margin: 8px;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
    font-size: var(--md);
}
.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit:cover;
}
.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
.primary-button{
    background-color:var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.main-container{
    margin: 50px 20px 20px 20px;
}
.card-container{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    place-content: center;
    gap: 16px;
}
.product-card{
    width: 140px;
}
.product-card img{
    width: 100%;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.product-info figure img{
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
}
.product-info div p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--sm);
}

/* Payment Info */
.payment-detail{
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    right: 0;
}
.product-detail-close{
    background-color: var(--white);
    height: 30px;
    width: 30px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 8px;
    border-radius: 50%;
}
.product-detail-close:hover{
    cursor:pointer;
}
.payment-detail > img:nth-child(2){
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.payment-info{
    margin: 0 24px;
}
.payment-info p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
}
.payment-info p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 36px;
}
.payment-info p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-bottom: 36px;
}
.primary-button{
    background-color:var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media(min-width:700px){
    .product-card{
    width: 240px;
    }
    .product-card img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    }
    .card-container{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    place-content: center;
    gap: 16px;
    }
    .mobile-menu{
    display: none;
    }
}

@media(max-width:700px){
    .product-detail{
        width: 100%;
    }
}
@media (max-width:700px){
    .menu{
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .desktop-menu{
        display: none;
    }
}
